ul {
    border: 10px solid aqua;
    padding: 1em 1em 0;
    list-style: none;
}
/*
https://www.sejuku.net/blog/75559
em(エム)はフォントや、CSSで指定している文字の大きさによって
サイズを相対的に変えられます。1emはfont-size値を基準とした相対的な値となり、
下記のコードを例とした場合は、1emが10pxとなるため、2.5emと記載することで、指定したフォントサイズ10pxの2.5倍で出力されます。
*/
ul li {
    border-bottom: 4px dotted #6baeb3;
    margin-bottom: 1em;
}

ul li::before {
    content:url(../img/check.png);
    margin-right: 4px;
    vertical-align: middle;
}

ol {
    border: 10px solid orange;
    padding: 20px 40px 20px;
}

ol li {
    padding-bottom: 20px;
    margin-bottom: 20px;
    background: url("../img/arrow.png") left bottom no-repeat;
}

ol li:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    background: transparent;
}