body {background: #eee;}
h1 {
  font-size: 1.5em;
  color: #1b9aaa;
  text-align: center;
  margin: 40px 0 20px;
}
form {
  width: 90%;
  max-width: 800px;
  margin: 0 auto 40px;
  background: #fff;
  padding: 40px 40px 40px 40px;
}
.form-item {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
/* 属性セレクタ */
input[type="text"], input[type="email"], select, textarea {
  display: block;
  width: 100%;
  font-size: 16px;
}
/* ボタンを水平方向に並べるために、display: flex;を指定 */
.form-submit {
  display: flex;
  justify-content: center;
}
.form-submit input[type="submit"] {
  margin-top: 20px;
  text-align: center;
  background: #1b9aaa;
  color: #fff;
  width: 200px;
}

/* モバイル用CSS */
@media (max-width: 480px) {
  form {
    padding: 20px;
  }
  .form-item {
    margin: 10px;
  }
  .form-item label {
    margin-bottom: 10px;
  }
  .form-submit {
    flex-direction: column;
  }
  .form-submit input[type="submit"] {
    margin-top: 10px;
  }
}